  body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #004C3F;
      
    }

  .container1{
    background-color: #B7BDC2;
    

    }

    .container2{
      background:url("static/images/bgimage.jpg");
      }
    
  .topic{
      text-align: center;
      color: #070C41;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: xxx-large;
      font-style: unset;
      
    }

  .row1{
    display: block;
  }  
  .subtopic{
      text-align: center;
      color: black;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 26px;
      font-weight: 500;
      font-style: unset;
      padding-bottom: 25px;
      
    }  
  form {
    background-color: #B7BDC2;
    margin: auto;
    width: 500px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  label {
    font-weight: bold;
    color: #070C41;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
  }

  .note{
    font-weight: 400;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: block; 
  }
  
  input[type="number"] {
    width: 100%;
    font-size: large;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans'; 
    font-weight: 700;
  }
  
  select {
    width: 100%;
    font-size: large;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    
    font-weight: 700; 
  }
  

   input[type="button"]{
    margin-top: 2px;
    font-size: large;
    cursor: pointer;
    font-weight: bold;
   }

  input[type="submit"] {
    width: 100%;
    background-color: lightgreen;
    color: black;
    font-size: xx-large;
    font-weight: bold;
    padding: 14px 20px;
    margin-top: 10px;
    border: 1px solid black ;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="logout"] {
    width: 120px;
    background-color: lightgreen;
    color: black;
    font-size: medium;
    font-weight: bold;
    padding: 14px 20px;
    
    border: 1px solid black ;
    border-radius: 5px;
    cursor: pointer;
  }